---
import { ClientRouter } from 'astro:transitions';
import { Astro } from 'astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Books Recomendations</title>
		<ClientRouter />
	</head>
	<body>
	   <div>
		<slot />
		</div>
	</body>
</html>

<style is:global>
 
	html{
       
	}
	.main{
		max-width: 36rem;
	}
    img {
        width: 350px; /* equivalente a w-48 en Tailwind */
        height: auto;
        border-radius: 0.5rem; /* opcional, para redondear */
		margin-right: 1.25rem; /* mr-5 */
        width: 12rem;           /* w-48 = 192px */
        border-radius: 0.5rem;  /* rounded */
		
    }
	body {
		@apply grid place-content-center p-20;
		background-color: black;
		
		
	}

	body > div {
		@apply container;
	}
    h1{
		text-align:center; 
		font-size:5rem; 
		font-weight:1000;
		color: white;
	}
	p{
		color: white;
	}
	span{
	    display:block;	
	}
	a {
		color: white;
        opacity: 0.7;
    }

    a:hover {
    text-decoration: underline;
    }
    .div1{
		color:white;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
		font-size: larger;
	}
    .div2 {
       display: grid;
       gap: 1.5rem; 
     }

	 article {
  display: flex;
  }
  
  .divbooks{
	display: flex;
	gap: 3rem;
  }
  
   .imagerounded{
	border-radius: 0.25rem;
    width: 18rem;
    height: auto;
   }

   a {
    margin-bottom: 0.5rem; /* mb-2 */
    transition: transform 0.2s ease-in-out;
   }
   a:hover {
  transform: scale(1.1);
  }

    @media (min-width: 768px) {
   .div2 {
    grid-template-columns: repeat(2, 1fr);
    
  }
}


</style>
