<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
	   <div>
		<slot />
		</div>
	</body>
</html>

<style is:global>
 
	html{
       
	}
    img {
        width: 350px; /* equivalente a w-48 en Tailwind */
        height: auto;
        border-radius: 0.5rem; /* opcional, para redondear */
		
		
    }
	body {
		@apply grid place-content-center p-20;
		
	}

	body > div {
		@apply container;
	}
    h1{
		text-align:center; 
		font-size:5rem; 
		font-weight:1000;
	}
	span{
	    display:block;	
	}
    .div1{
		
		
	}
    .div2 {
       display: grid;
       gap: 1.5rem; 
     }

    @media (min-width: 768px) {
   .div2 {
    grid-template-columns: repeat(2, 1fr);
    
  }
}
</style>
